body {
    background-color: #937DC2;
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'The Nautigal', cursive;
    font-size: 10rem;
    color: #FCC5C0;
    margin: 50px;
}

h2 {
    font-family: 'The Nautigal', cursive;
    font-size: 3rem;
    color: #FCC5C0;
}

img {
    border-radius: 50%;
}

h3 {
    font-family: 'Yellowtail', cursive;
    font-size: 2rem;
    color: #E8A0BF;
}

p {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    color: #FCC5C0;
}